<% provide(:title, 'Register children') %>
<h2>Register your children</h2>

<%= form_for(@child) do |f| %>
<table>
	<%= render 'fields', f: f %>
</table>
	  <div class="actions">
	    <%= f.submit "Register new child" %>
	  </div>
	<% end %>

<%= current_user.children %>


