<% provide :title, "Edit user" %> 
<h2>Edit user</h2>
<table>
	
<%= form_for(@user) do |f| %>

<table>
	<%= render 'update_fields', f: f %>
	  <div class="actions">
	    <%= f.submit "Sign up" %>
	  </div>
	<% end %>
</table>